a.btn.btn-mini.btn-info.tag(href='/search?query=交易+买卖') #交易,买卖
a.btn.btn-mini.btn-info.tag(href='/search?query=汽车+车') #汽车,车
a.btn.btn-mini.btn-info.tag(href='/search?query=家具') #家具
a.btn.btn-mini.btn-info.tag(href='/search?query=电子产品') #电子产品
a.btn.btn-mini.btn-info.tag(href='/search?query=书+书籍') #书,书籍
a.btn.btn-mini.btn-info.tag(href='/search?query=教材') #教材
a.btn.btn-mini.btn-info.tag(href='/search?query=玩具') #玩具
a.btn.btn-mini.btn-info.tag(href='/search?query=化妆品') #化妆品
hr
a.btn.btn-mini.btn-info.tag(href='/search?query=租') #租
a.btn.btn-mini.btn-info.tag(href='/search?query=出租') #出租
a.btn.btn-mini.btn-info.tag(href='/search?query=求租') #求租
a.btn.btn-mini.btn-info.tag(href='/search?query=短租') #短租
a.btn.btn-mini.btn-info.tag(href='/search?query=租房') #租房
hr
a.btn.btn-mini.btn-info.tag(href='/search?query=出行') #出行
a.btn.btn-mini.btn-info.tag(href='/search?query=拼车') #拼车
a.btn.btn-mini.btn-info.tag(href='/search?query=旅游') #旅游
a.btn.btn-mini.btn-info.tag(href='/search?query=度假') #度假
hr
a.btn.btn-mini.btn-info.tag(href='/search?query=活动') #活动
a.btn.btn-mini.btn-info.tag(href='/search?query=聚会') #聚会
a.btn.btn-mini.btn-info.tag(href='/search?query=联谊') #联谊
a.btn.btn-mini.btn-info.tag(href='/search?query=新生') #新生
a.btn.btn-mini.btn-info.tag(href='/search?query=演出') #演出
a.btn.btn-mini.btn-info.tag(href='/search?query=演唱会') #演唱会