extends layout

block scripts
	script
		$(document).ready(function(){
			$('#newpost').click(function(e){
				e.preventDefault();
				var url = "newpost";
				$(location).attr('href',url);
			});
			$('.searchinput').focus();
		})

block content
	.container
		include navbar
		.well.span7
			h1.title [#{sitename}]
			form.form-search(method='get',action='/search')
				input.searchbox.input-xlarge(type='text',name='query',id='searchinput')
				button.btn 快速搜索
				button.btn#newpost 发布信息
		.span3.well
			include cmtagbox