extends layout

block inlinestyle
	style
		#searchresults{
			margin: auto;
			position: relative;
		}
		.pin{
			position: absolute;
			width: 300px;
			text-align: center;
		}
		.meta{
			display: none;
		}

block content
	.container
		include navbar
		include inlinesearch
		include pager
	.body
		include flowview
	script(src="/javascripts/niagara.js")		
	script(src="/javascripts/searchpage.js")