themecolor = #66ccff
shadowcolor = #eee
body,html
	margin: 0
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif
	text-align: center
	color: #555
.plump
	background-color: themecolor
	color: black
	box-shadow: 0 0 3px black
	text-decoration: none
	a
		text-decoration: none
		&:visited
			color: black
input,button,textarea,span.likeinput,select,img.ip
	font-size: 120%
	color: black
	background-color: white
	border: 1px solid #999
	background-repeat: no-repeat
	background-position: 8px 9px
	display: inline
	margin-bottom: 5px
	margin-top: 10px
	margin-left: 4px
	padding: 2px
	&:hover
		box-shadow: 0 0 2px black
	&:active
		box-shadow: inset 0 0 2px black
input[type='text']
	max-width: 80%
img
	display: inline-block !important
textarea
	max-width: 900px
a
	text-decoration: none
	color: black
	&:hover
		color: black !important
		background-color: #ff6633
	&:visited
		color: #660000
.tag
	display: inline-block
	margin: 0 5px
	background-color: wheat
	color: #222	
legend
	@extend .plump
.container
	max-width: 940px
	min-width: 500px
	margin: auto
	margin-top: 15px
	padding: 10px 10px
	background-color: #fafafa
	border: 1px solid gray
.mini-container
	@extend .container
	max-width: 500px
.navbar
	z-index: 999
	width: 97%
	margin: auto
	background-color: themecolor
	position: relative
	top: 0
	padding: 6px
	min-width: 500px
	min-height: 32px
	text-align: center
	box-shadow: 1px 5px #ddd
	font-size: 110%
	ul
		list-style-type: none
		margin: 0
		padding: 0
	li
		display: inline
		float: left
		margin-right: 0.5em
		height: 30px
	a
		display: block
		padding: .1em .3em
	input,button
		margin: 0
		padding: 0
.msg
	background-color: #eee
	width: 97%
	margin: 4px auto
	padding: auto
.pull-right
	float: right
.pull-left
	float: left
.prompt
	@extend input
	display: none
	position: fixed
	z-index: 9999
.hidden
	display: none
::selection
	background-color: red