themecolor = #66ccff
body,html
	margin: 0
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif
	text-align: center
	background-color: #ddd
	color: #555
.plump
	background-color: themecolor
	color: black
	box-shadow: 0 0 3px black
	text-decoration: none
	a
		text-decoration: none
		&:visited
			color: black
input,button,textarea,span.likeinput,select,img.ip
	font-size: 120%
	color: black
	background-color: white
	border: 1px solid #bdbdbd
	background-repeat: no-repeat
	background-position: 8px 9px
	display: inline
	margin-bottom: 5px
	margin-top: 10px
	margin-left: 4px
	padding: 2px
	&:hover
		box-shadow: 0 0 2px black
	&:active
		box-shadow: inset 0 0 2px black
input[type='text']
	max-width: 80%
img
	display: inline-block !important
textarea
	max-width: 900px
a
	text-decoration: none
	color: black
	&:hover
		color: black !important
		background-color: white
	&:visited
		color: #660000
.tag
	display: inline-block
	margin: 0 5px
	background-color: wheat
	color: #222	
legend
	@extend .plump
.container
	max-width: 940px
	min-width: 500px
	margin: auto
	margin-top: 30px
	padding: 10px 10px
	background-color: #eee
	box-shadow: 0 0 2px black
.navbar
	z-index: 999
	width: 100%
	background-color: themecolor
	top: 5px
	position: fixed
	text-align: left
	text-shadow: 2px 2px 5px gray
	font-size: 120%
	box-shadow: 2px 2px 5px gray
	span
		margin: 5px
		padding: 3px
.prompt
	@extend input
	display: none
	position: fixed
	z-index: 9999
.hidden
	display: none