body,
html {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #bbb;
  color: #555;
  height: 100%;
}
body *,
html * {
  border-radius: 5px;
}
.plump,
legend {
  background-color: #f93;
  color: #000;
  box-shadow: 0 0 3px #000;
  text-decoration: none;
}
.plump a,
legend a {
  text-decoration: none;
}
input,
textarea,
span.likeinput,
select,
.prompt {
  box-shadow: 0 0 2px #808080;
  font-size: 120%;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: inline;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 4px;
}
textarea {
  max-width: 900px;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #000 !important;
  background-color: #fff;
}
a:visited {
  color: #777;
}
a.tag {
  display: inline-block;
  margin-left: 10px;
  background-color: #f5deb3;
  color: #222;
}
a.tag:hover {
  color: #000 !important;
  background-color: #fff;
}
#container {
  max-width: 940px;
  min-width: 640px;
  margin: auto auto;
  padding: 10px 10px;
  background-color: #ccc;
  box-shadow: 0 0 10px #808080;
}
#sidebar {
  border-radius: 10px;
  padding: 0 0;
  text-align: center;
  text-shadow: 2px 2px 5px #808080;
  font-size: 200%;
  position: fixed;
}
#sidebar ul {
  list-style-type: none;
  margin: 0 0;
  padding: 0;
}
#sidebar li {
  margin: 5px;
  border-bottom: 3px solid #ddd;
}
#sidebar a {
  color: #000 !important;
}
.prompt {
  display: none;
  position: fixed;
}
form.newpost {
  text-align: center;
}
form.newpost fieldset {
  margin-bottom: 10px;
  border: 1px dashed #fff;
  text-align: left;
  min-width: 640px;
}
form.newpost label {
  background-color: #fff;
  text-align: left;
  display: inline-block;
  padding: 2px;
  margin: 2px;
  min-width: 120px;
}
form.newpost input {
  width: 360px;
}
form.newpost input.short {
  width: 120px;
}
form.newpost textarea {
  width: 98% !important;
}
em.star {
  float: right;
  display: inline-block;
}
.sibox,
.myTag,
.tagBox {
  display: inline-block;
  box-shadow: 0 0 2px #808080;
  min-width: 100px;
  padding: 2px;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  background-position: 8px 9px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 4px;
}
.hidden {
  display: none;
}
.myTag {
  min-width: 0;
  background-color: #ffa500;
}
.floatLeft {
  float: left;
  width: 70%;
}
.tagBox {
  display: block;
  float: right;
  max-width: 25%;
}
label.error {
  color: #fff;
  background-color: #777 !important;
}
#sidebar {
  float: left;
  position: relative;
}
