@import default
form.newpost
	text-align: center
	fieldset
		margin-bottom: 10px
		border: 1px dashed black
		text-align: left
		min-width: 640px
	label
		background-color: white
		text-align: left
		display: inline-block
		padding: 2px
		margin: 2px
		min-width: 120px
	input
		width: 360px
	input.short
		width: 120px
	textarea
		width: 98% !important
em.star
	float: right
	display: inline-block
.sibox
	@extend input
	display: inline-block
	min-width: 200px
	text-align: right
.hidden
	display: none
.myTag
	@extend input
	background-color: themecolor
	box-shadow: none
	min-width: 0
.floatLeft
	float: left
	width: 70%
.tagBox
	@extend input
	display: block
	float: right
	max-width: 25%
label.error
	color: white
	background-color: #777 !important
