body,
html {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #ddd;
  color: #555;
}
* {
  border-radius: 5px;
}
.plump,
legend,
.item:hover {
  background-color: #6cf;
  color: #000;
  box-shadow: 0 0 3px #000;
  text-decoration: none;
}
.plump a,
legend a,
.item:hover a {
  text-decoration: none;
}
.plump a:visited,
legend a:visited,
.item:hover a:visited {
  color: #000;
}
input,
textarea,
span.likeinput,
select,
img.ip,
.prompt,
.postpartial {
  font-size: 120%;
  color: #000;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: inline;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 4px;
  padding: 2px;
}
input:hover,
textarea:hover,
span.likeinput:hover,
select:hover,
img.ip:hover,
.prompt:hover,
.postpartial:hover {
  box-shadow: 0 0 2px #000;
}
input:active,
textarea:active,
span.likeinput:active,
select:active,
img.ip:active,
.prompt:active,
.postpartial:active {
  box-shadow: inset 0 0 2px #000;
}
input[type='text'] {
  max-width: 80%;
}
img {
  display: inline-block !important;
}
textarea {
  max-width: 900px;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000 !important;
  background-color: #fff;
}
a:visited {
  color: #600;
}
.tag {
  display: inline-block;
  margin: 0 5px;
  background-color: #f5deb3;
  color: #222;
}
#container {
  max-width: 940px;
  min-width: 500px;
  margin: auto;
  margin-top: 30px;
  padding: 10px 10px;
  background-color: #eee;
  box-shadow: 0 0 2px #000;
}
#sidebar {
  width: 99%;
  background-color: #6cf;
  position: fixed;
  top: 5px;
  text-align: left;
  text-shadow: 2px 2px 5px #808080;
  font-size: 120%;
}
#sidebar span {
  margin: 5px;
  padding: 3px;
}
.prompt {
  display: none;
  position: fixed;
}
body {
  font-size: 100%;
}
input[type='text'] {
  width: 120px;
}
fieldset {
  padding: 1px 1px;
  display: inline;
  border: 1px dashed #808080;
}
#container {
  min-height: 96%;
}
#searchbar {
  margin: 2px 0;
  padding: 0 0;
  text-align: center;
  vertical-align: center;
  border-top: 1px solid #bdbdbd;
}
#searchresults {
  width: 90%;
  text-align: left;
  padding: 10px 10px;
  margin: auto auto;
  font-size: 100%;
  text-align: left;
}
.item {
  padding: 10px 30px;
  margin: 2px;
  cursor: pointer;
}
.item:hover {
  text-shadow: 1px 1px 2px #808080;
  box-shadow: 2px 2px 2px #808080;
}
.postcontent {
  margin-top: 5px;
  padding: 5px;
  border: 1px dashed #808080;
}
.postpartial {
  display: block;
  margin: 5px;
  padding: 5px;
  width: 60%;
  max-width: 80%;
}
.fetched {
  box-shadow: inset 0 0 3px #808080;
  background-color: #ddd;
}
.hidden {
  display: none;
}
.busy {
  cursor: wait;
}
.prompt {
  max-width: 2em;
}
