@import default
body
	font-size: 100%
input[type='text']
	width:120px
fieldset
	padding: 1px 1px
	display: inline
	border: 1px dashed white
a
	color: #222
	&:hover
		color: black
		background-color: white
	&:visited
		color: #660000
#container
	min-height: 96%
#searchbar
	margin: 0 0
	padding: 0 0
	text-align: center
	vertical-align: center
	border-top: 1px solid #bdbdbd
	border-bottom: 1px solid #bdbdbd
#searchresults
	width: 90%
	text-align: left
	padding: 10px 10px
	margin: auto auto
	font-size: 100%
	text-align: left
.item
	padding: 10px 30px
	margin-top: 2px
	cursor: pointer
.item:hover
	background-color: orange
	text-shadow: 1px 1px 2px gray
	border-radius: 5px
	box-shadow: 2px 2px 2px gray
.postcontent
	margin-top: 5px
	padding: 5px
	border: 1px dashed white
.postpartial
	display: block
	margin: 5px
	padding: 5px
	width: 60%
	max-width: 80%
	color: #5a5854
	background-color: #f2f2f2
	border: 1px solid #bdbdbd
	background-repeat: no-repeat
	background-position: 8px 9px
.fetched
	box-shadow: inset 0 0 3px gray
	background-color: #bdbdbd
.hidden
	display: none
.busy
	cursor: wait
.prompt
	max-width: 2em
